.delete-account-section {
  background: #FFFFFF;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px
}

.delete-account-section h2 {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  margin: 0
}

.delete-account-section p {
  color: #666;
  font-size: 14px;
  margin-bottom: 16px;
}

.delete-account-button {
  color: #D32F2F;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.delete-account-button:hover {

  box-shadow: 0 2px 6px rgba(183, 28, 28, 0.3);

}